﻿body {
    padding-top: 50px;
    padding-bottom: 20px;    
}

/* Set padding to keep content from hitting the edges */
.body-content {

    padding-top: 50px;
    font-family:'Franklin Gothic';
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
footer{
    text-align:center;
}

        .navbar-fixed {
            top: 0!important;
            z-index: 100;
          position: fixed!important;
            width: 100%;
            height: 100%!important;
        }
        #nav {
           position:absolute;
            line-height: 30px;
            background-color: #eeeeee;
            width:0px;
           left:-50px;
           top:90px;
            float: left;
            padding: 5px;
            height: 90%; /* adjust the menu height*/
            overflow-x: auto;
           transition: 0.5s;
           z-index:10;
        }
        .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg .tg-v2q5 {
            font-weight: bold;
            font-family: "Lucida Console", Monaco, monospace !important;
            ;
            background-color: #00009b;
            color: #ffffff;
            text-align: center;
            vertical-align: top;
        }

        .tg .tg-cymi {
            font-weight: bold;
            font-family: "Lucida Console", Monaco, monospace !important;
            ;
            background-color: #3531ff;
            color: #ffffff;
            text-align: center;
            vertical-align: top;
        }        
        .tg  
        {
            border-collapse:collapse;border-spacing:0;border-color:#999;border:none;

        }
        .tg td
        {
            font-family:Arial, sans-serif;
            font-size:14px;padding:10px 5px;
            border-style:solid;border-width:0px;
            overflow:hidden;word-break:normal;
            border-color:#999;color:#444;
            
        }
        .tg th{
            font-family:Arial, sans-serif;
            font-size:14px;font-weight:normal;
            padding:10px 5px;
            border-style:solid;
            border-width:0px;
            overflow:hidden;
            word-break:normal;
            border-color:#999;
            color:#fff;
            background-color:#0E356F;

        }
        .tg .tg-v2q5{
            font-weight:bold;
            font-family:"Lucida Console", Monaco, monospace !important;
            ;
            background-color:#0E356F;
            color:#ffffff; 
            text-align:center;
            vertical-align:top;

        }
        .tg .tg-cymi{
            font-weight:bold;
            font-family:"Lucida Console", Monaco, monospace !important;;
            background-color:#0E356F;
            color:#ffffff;
            text-align:center;
            vertical-align:top
        }

@media screen and (max-width: 767px) {
    .tg {width: auto !important;}
    .tg col {width: auto !important;}
    .tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}

}
    tr:nth-child(odd) {
        background: #FFF

    }
        tr.hover {
            cursor: pointer;
            background:#fdb913!important;
        }
        tr.selected{
            background:#0a3370;
            color:#ffffff!important;
        }
        tr.selected td{
            color:#ffffff!important;
        }

        .missingDescription{
            background-color:#ffe200;
        }