﻿

    @model PerfMonAlerts.Models.Test
@{
    ViewBag.title = "Email Alerts";
    //Layout = null;
    
}



    <style type='text/css'>
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
        }

            .tg td {
                font-family: Arial, sans-serif;
                font-size: 14px;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg th {
                font-family: Arial, sans-serif;
                font-size: 14px;
                font-weight: normal;
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                overflow: hidden;
                word-break: normal;
            }

            .tg .tg-v0h2 {
                background-color:#c2c2c2;
                color: #656565;
                vertical-align: top;                
                text-align:center;
            }
            .tg .tg-chkbx {
                color: #656565;
                vertical-align: top;                
                text-align:center;
            }

        </style>

    <script language="JavaScript">
        $(document).ready(function () {            
            $("#checkAll").click(function () {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        });
    </script>
    <div>
        <h2>@ViewBag.title</h2>
        <h3>Subscribing as @ViewBag.email</h3>
    </div>
    <div>         
        @using (Html.BeginForm("updateSubscription", "Home", FormMethod.Post))
        {
            <table class='tg'>
                <tr>
                    <th class='tg-v0h2'><label>Test Name and Description</label></th>
                    <th class='tg-v0h2'><label>Select All<br /><input type="checkbox" id="checkAll" /></label> </th>
                </tr>
                
                @foreach (PerfMonAlerts.Models.Test test in @ViewBag.tests)
                {
                    <tr>
                        <td>
                            @test.getName()<br />
                            @Html.Hidden("testName", @Html.Raw(@test.getName().Trim()))
                            <ol>
                                <li>
                                    @Html.Raw(@test.getDescription().ToString().Replace(System.Environment.NewLine, "</li><li>"))
                                </li>
                            </ol>                       
                        </td>
                        <td class='tg-chkbx'>
                            @Html.CheckBox("isChecked", (bool)(@test.getEmailList().Contains(ViewBag.email)))
                        </td>
                    </tr>
                            }
                </table>
         

            <input type="submit" value="Update Subscriptions">
        }
        
</div>
