﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>@Html.Raw(@ViewBag.test)</h1>



<address>
    <strong>Support:</strong>   <a href="mailto:e.lawrence3@snhu.edu">e.lawrence3@snhu.edu</a><br />
    
</address>