﻿@model PerfMonAlerts.Models.Test
@{
    if (ViewBag.testName == null) {
        ViewBag.Title = "Home";
    }
    else{
        ViewBag.Title = ViewBag.testName;
    }
}

@if(@ViewBag.testName == null || @ViewBag.testName == "")
{
    <h2>SNHU Performance Monitor</h2>
    <h3>Brought to you by the QA Team</h3>
    <span>This site is functional, and improving!</span>
    <span>(Better in anything that is <b>not</b> IE.)</span>
}
</div><!--end maxwidth container. We want charts to be fullscreen-->


@if (ViewBag.alerts != null && ViewBag.alerts != "")
{
    <script>alert('@ViewBag.alerts');</script>
}
<script language="JavaScript">    

    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/", ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"], $(document).ready(function () {
        spinner.stop();
        setTimeout($("div:empty").remove(), 3000);
    });

    function openNav() {
            $("#close").show(), $("#open").hide(), $("#nav").width("275px"), $("#nav").css({
            left: "0px"
            })
        }
    function closeNav() {
            $("#close").hide(), $("#open").show(), $("#nav").width("0px"), $("#nav").css({
            left: "-50px"
            })
        }

        $(document).ready(function () {

        if("@ViewBag.testName" == ""){
            openNav();
        }
        else {
                $('#@ViewBag.testName'+'_GridRow').addClass('selected');
        }

            $('tr').click(function () {
            window.location = $(this).find('a').attr('href');
        }).hover(function () {
                $(this).toggleClass('hover');
        });

            $('#date').change(function () {
                $('#submitDate').click();
        })

            $(window).scroll(function () {
            //if you hard code, then use console
            //.log to determine when you want the
            //nav bar to stick.
            //console.log($(window).scrollTop())
            if ($(window).scrollTop() > 90) {
                    $('#nav').addClass('navbar-fixed');
            }
            if ($(window).scrollTop() < 91) {
                    $('#nav').removeClass('navbar-fixed');
            }
        });

    });
</script>






<div id="nav">

    <span id="open" style="font-size:30px;float:left;cursor:pointer;left:10px;top:100px;position:fixed;visibility:visible" onclick="openNav()">&#187;</span>
    <span id="close" style="font-size:30px;float:left;cursor:pointer;left:10px;top:0px;visibility:visible;display:none;" onclick="closeNav()">&#171;</span><br />

@using (Html.BeginForm("index", "Home", new { ReturnUrl = @Request.QueryString["testName"] + @Request.QueryString["date"] }, FormMethod.Get))
{
    <label>Select Date: <input name="date" id="date" type="date" value="@ViewBag.date" /></label>
    <input type="hidden" value="@Request.QueryString["testName"]" name="testName" />

    <input type="submit" id="submitDate" value="submit" hidden/>
    
}
    <input type="button" id="viewAll" value="View All" onclick="location.href='?testName=all&date=@Request.QueryString["date"]';"/>
    
    <br /><br />
    <table class='tg'>
        <tr>
            <th class="tg-cymi">Date</th>
            <th class="tg-v2q5">LoadTestName</th>
        </tr>
        @foreach (PerfMonAlerts.Models.Test test in @ViewBag.tests)
        {
            string rowClass = "";
            if (test.getDescription() == null || test.getDescription() == "")
            {
                rowClass = "missingDescription";
            }
            <tr id="@test.getName().Trim()_GridRow">
                    <td>

                    <a href="?testName=@test.getName().Trim()&date=@Request.QueryString["date"]"></a>@ViewBag.date
                </td>
                <td class="@rowClass">
                    @test.getName()
                </td>
            </tr>
        }
    </table>


</div>



<div id="loading" style="text-align:center"></div>
<table id="tblChart"></table>


@Html.Raw(@ViewBag.mainlt)
@Html.Raw(@ViewBag.lt)

<script>
        var opts = {
            lines: 17 // The number of lines to draw
        , length: 0 // The length of each line
        , width: 34 // The line thickness
        , radius: 84 // The radius of the inner circle
        , scale: 0.5 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 0.8 // Rounds per second
        , trail: 66 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
        }
        var target = document.getElementById('loading');
        var spinner = new Spinner(opts).spin(target);
        target.appendChild(spinner.el);
</script>
<div>

    @section scripts{
    <script language="JavaScript" type="text/javascript" src="~/Scripts/spin.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/zingchart.min.js"></script>
        }